__pycache__
*/.pyc
*.prof
*/setup.txt
*/setup.toml
*.egg-info/
*/SOURCES.txt

**/library/**
**/configs/*
**/forces/*
**/books/*
**/lookup_tables/*
**/books_compressed/*
**temp_multi_threaded_files


**/target/*
**/debug/*
**release/*
**/optimization_files/**

/env
*.env
*.DS_Store
*.toml

**/site/*

# Ignore test outputs for marked_for_death experiments
games/marked_for_death/*.log
games/marked_for_death/inspect_*.txt
games/marked_for_death/run_*.log
games/marked_for_death/inspect_*.log
games/marked_for_death/run_*.log
